doctype!
html
    head
        title Demo
        link(rel='stylesheet', href='libs/jquery-ui.css')
        link(rel='stylesheet', href='libs/ui.jqgrid.css')
        link(rel='stylesheet', href='libs/ui.jqgrid-bootstrap.css')
        link(rel='stylesheet', href='libs/ui.jqgrid-bootstrap-ui.css')
        link(rel='stylesheet', href='demo.css')            

    body
        .container
            table#grid

        script(src="libs/jquery.js")
        script(src="libs/highcharts.js")
        script(src="libs/jquery.jqGrid.js")

        script(src="highcharts.sparkline.js")
        script(src="randomData.js")
        script(src="demo.js")
